<div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />
       <% avatar_url = @user.avatar_url(128) %>
       <% if avatar_url %>
         <div class="media-left">
           <%= image_tag avatar_url, class: 'media-object' %>
         </div>
       <% end %>
       <div class="media-body">
         <h2 class="media-heading"><%= @user.name %></h2>
         <small>
           <%= pluralize(@user.posts.count, 'post') %>,
           <%= pluralize(@user.comments.count, 'comment') %>,
           <%= pluralize(@user.votes.count, 'points') %>
         </small>
       </div>
     </div>
   </div>
 </div>

 <h2>Posts</h2>
 <%= is_posts(@user) %>

 <h2>Comments</h2>
 <%= is_comments(@user) %>

<h2>Favorites</h2>
<% @favorite_posts.each do |f| %>
  <% if @user.favorites.any? %>
  <div class="row">
    <div class="col-md-8">
      <div class="media">
        <br />
          <div class="media-left">
            <%= image_tag f.user.avatar_url(64), class: "media-object"%>
          </div>
          <div class="media-body">
              <%= render @favorite_posts %>
            <% else %>
              <p><%= @user.name %> has not favorited any posts yet.</p>
            <% end %>
         <% end %>
       </div>
     </div>
   </div>
</div>
